.shipping-content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 5vw;
}

.shipping-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 1vh;
    width: 60%;
    padding: 0 1vw;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

input {
    margin: 0;
    padding: 1vh;
}

input[type=submit] {
    font-size: 1.3rem
}

.radio-inputs {
    display: flex;
    align-items: center;
    gap: 1vw;
}

hr {
    background-color: black;
    height: 1px;
    width: 100%;
}

.order-summary {
    width: 40%;
    border: 2px solid black;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: fit-content;
}

.order-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2vh 0;
}

.order-title {
    font-size: 2rem;
    font-weight: 600;
}