.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightsteelblue;
    padding: 1vh 0;
    margin-bottom: 1vh;
    position: fixed;
    top: 0;
    width: 100%
}

.links {
    display: flex;
    gap: 5rem;
    font-size: 32px;
    margin-left: 1vw;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    transform: scale(1.1);
}

.cart-link {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1vw;
}

.cart-link:hover {
    transform: scale(1.1);
}

img {
    height: 32px;
}

.total-items {
    /* position: absolute;
    top: 30px;
    right: 5px; */
    background-color: crimson;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
    height: 2px;
    widtH: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}