.store-items {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    justify-items: center;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
    text-wrap: wrap;
    gap: 1em;
}

.store-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    border: 2px solid black;
    border-radius: 16px;
    padding: 1em;
}

.store-card:hover {
    box-shadow: black 0px 3px 8px;
}

.item-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
}

.quantity-section {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem;
}