.cart-heading {
    font-size: 32px;
    font-weight: bold;
    /* background-color: lightsteelblue; */
}

.cart-container {
    border: 5px solid lightsteelblue;
    border-radius: 5px;
    background-color: lightsteelblue;
}

.item-wrapper,
.empty-cart,
.continue-shopping {
    display: flex;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: 2vw;
    border-bottom: 2px solid lightsteelblue;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    font-size: 32px;
    font-weight: 700;
}

.continue-shopping {
    padding: 1vw;
    background-color: lightsteelblue;
    font-size: 24px;
    font-weight: 100;
    border-radius: 5px;
}

.item-wrapper:last-child {
    border-bottom: none;
}

.item-card {
    margin-left: 5rem;
}

.quantity-section {
    display: flex;
    gap: 1rem;
}

.item-price {
    background-color: lightsteelblue;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;

}

.total-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1vh;
}

.cart-total {
    margin-top: 1vh;
    font-size: 48px;
    float: right;
    background-color: lightsteelblue;
    width: fit-content;
    border-radius: 5px;
    padding: 1vh;
}

.checkout {
    background-color: lightsteelblue;
    font-size: 24px;
    padding: 1vh;
    border-radius: 5px;
}