@import "./styles/store.css";
@import "./styles/nav.css";
@import "./styles/cart.css";
@import "./styles/checkout.css";
@import "./styles/footer.css";
@import "./styles/homepage.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    margin: 0;
    font-family: Roboto;
    height: 100vh;
    background-color: #FAF9F6;
}

body {
    margin: 0;
}

.content {
    width: 90vw;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 5vh;
    min-height: 50vh;
}

a:visited {
    text-decoration: none;
}