.store-items {
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    gap: 1em;
}

.store-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 150px;
    border: 2px solid black;
    padding: 1em;
}

.item-image {
    height: 100px;
    width: 100px;
}